.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.site-header{
  background-color: #08080A;
  color: #fff;
}

.menu li a{
  color: #fff;
}

.jokes li{
  text-align: left;
  padding-bottom: 10px;
  position: relative;
 font: bold italic 25px/1.5 Helvetica, Verdana, sans-serif;
 margin-bottom: 20px;
}

.jokes li p {
  font: 16px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}

/*
colors
https://dribbble.com/shots/7274412-Mobile-App-Landing-Page-Design
*/
